<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Main Menu -->
    <menuitem id="menu_leave_tracker_root"
              name="Leave Tracker"
              sequence="10"
              />

    <!-- Main Action -->
    <record id="action_employee_leave_request_tracker" model="ir.actions.act_window">
        <field name="name">Leave Tracker</field>
        <field name="res_model">hr.leave</field>
        <field name="view_mode">tree,form</field>
        <field name="view_id" ref="view_leave_tracker_tree_inherited"/>
         <field name="search_view_id" ref="view_leave_tracker_tree_search"/>

    </record>

    <!-- Clearance Records Menu -->
    <menuitem id="menu_employee_leave_tracker"
              name="Leaves"
              parent="menu_leave_tracker_root"
              action="action_employee_leave_request_tracker"
              sequence="10"/>
    <!-- <menuitem id="menu_clearance_reports"
              name="Clearance Reports"
              parent="menu_inf_clearance_root"
              sequence="10"/> -->


 

</odoo>
